Repository mmkal/ts, changes with the labels that .github/labeler.yml gives for each.
All labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

.github/labeler.yml:

# codegen:start {preset: labeler}
eslint-plugin-codegen:
  - packages/eslint-plugin-codegen/**/*
expect-type:
  - packages/expect-type/**/*
fs-syncer:
  - packages/fs-syncer/**/*
io-ts-extra:
  - packages/io-ts-extra/**/*
memorable-moniker:
  - packages/memorable-moniker/**/*
# codegen:end

docs
  packages/eslint-plugin-codegen/readme.md
  packages/eslint-plugin-codegen/src/presets/labeler.ts
Labels: eslint-plugin-codegen

add pull request action
  .github/workflows/pr.yml
Labels: none

fix: replace unix paths?
  packages/eslint-plugin-codegen/src/presets/__tests__/monorepo-toc.test.ts
Labels: eslint-plugin-codegen

chore(deps): update eslint packages (#60)
  package.json
  yarn.lock
Labels: none

fix: specify respoitory url + directory
  packages/eslint-plugin-codegen/package.json
  packages/expect-type/package.json
  packages/fs-syncer/package.json
  packages/io-ts-extra/package.json
  packages/memorable-moniker/package.json
Labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

Publish
  packages/eslint-plugin-codegen/CHANGELOG.md
  packages/eslint-plugin-codegen/package.json
  packages/expect-type/CHANGELOG.md
  packages/expect-type/package.json
  packages/fs-syncer/CHANGELOG.md
  packages/fs-syncer/package.json
  packages/io-ts-extra/CHANGELOG.md
  packages/io-ts-extra/package.json
  packages/memorable-moniker/CHANGELOG.md
  packages/memorable-moniker/package.json
Labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

remove unused param
  packages/eslint-plugin-codegen/readme.md
  packages/eslint-plugin-codegen/src/presets/monorepo-toc.ts
Labels: eslint-plugin-codegen

fix: add .git suffix
  packages/eslint-plugin-codegen/package.json
  packages/expect-type/package.json
  packages/fs-syncer/package.json
  packages/io-ts-extra/package.json
  packages/memorable-moniker/package.json
Labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

Publish
  packages/eslint-plugin-codegen/CHANGELOG.md
  packages/eslint-plugin-codegen/package.json
  packages/expect-type/CHANGELOG.md
  packages/expect-type/package.json
  packages/fs-syncer/CHANGELOG.md
  packages/fs-syncer/package.json
  packages/io-ts-extra/CHANGELOG.md
  packages/io-ts-extra/package.json
  packages/memorable-moniker/CHANGELOG.md
  packages/memorable-moniker/package.json
Labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

chore(deps): update dependency lodash to v4.17.19
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency lodash to v4.17.19 (#75)
  package.json
  yarn.lock
Labels: none

Delete renovate.yml
  .github/workflows/renovate.yml
Labels: none

chore(deps): update eslint packages to v3.6.1
  package.json
  yarn.lock
Labels: none

chore(renovate): update lockfile for prod dependencies
  renovate.json
Labels: none

update docs
  packages/eslint-plugin-codegen/readme.md
  packages/eslint-plugin-codegen/src/presets/monorepo-toc.ts
Labels: eslint-plugin-codegen

chore(renovate): automerge lockfile maintenance
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

fix(deps): update babel monorepo to v7.10.5
  package.json
  yarn.lock
Labels: none

use tc39 proposal for test cases
  packages/io-ts-extra/readme.md
  packages/io-ts-extra/src/__tests__/match.test.ts
  packages/io-ts-extra/src/__tests__/shorthand-pattern-matching-proposal.test.ts
  packages/io-ts-extra/src/shorthand.ts
Labels: io-ts-extra
