Repository mmkal/ts, pull requests merged in 2020-09, with the labels that each got.

#159 rush
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/nodejs.yml
  .gitignore
  .npmrc
  .prettierrc.js
  .vscode/settings.json
  README.md
  babel.config.js
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/config/rush/experiments.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/pnpmfile.js
  common/config/rush/version-policies.json
  common/git-hooks/commit-msg.sample
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  jest.config.js
  package.json
  packages/eslint-plugin-codegen/.eslintrc.js
  packages/eslint-plugin-codegen/jest.config.js
  packages/eslint-plugin-codegen/package.json
  packages/eslint-plugin-codegen/src/presets/markdown-from-tests.ts
  packages/eslint-plugin-codegen/tsconfig.json
  packages/expect-type/.eslintrc.js
  packages/expect-type/jest.config.js
  packages/expect-type/package.json
  packages/expect-type/tsconfig.json
  packages/fs-syncer/.eslintrc.js
  packages/fs-syncer/jest.config.js
  packages/fs-syncer/package.json
  packages/fs-syncer/tsconfig.json
  packages/io-ts-extra/.eslintrc.js
  packages/io-ts-extra/jest.config.js
  packages/io-ts-extra/package.json
  packages/io-ts-extra/src/__tests__/mapper.test.ts
  packages/io-ts-extra/src/combinators.ts
  packages/io-ts-extra/tsconfig.json
  packages/memorable-moniker/.eslintrc.js
  packages/memorable-moniker/jest.config.js
  packages/memorable-moniker/package.json
  packages/memorable-moniker/tsconfig.json
  rush.json
  tools/node-pkg/.eslintrc.js
  tools/node-pkg/.prettierrc.js
  tools/node-pkg/init.js
  tools/node-pkg/jest.config.js
  tools/node-pkg/package.json
  tools/node-pkg/readme.md
  tools/node-pkg/run.js
  tools/node-pkg/tsconfig.json
  tsconfig.eslint.json
  yarn.lock
Labels: eslint-plugin-codegen, expect-type, fs-syncer, io-ts-extra, memorable-moniker

#161 chore: bump io-ts version
  common/changes/io-ts-extra/io-ts-extra-bump-io-ts_pr_161.json
  packages/io-ts-extra/package.json
Labels: io-ts-extra

#163 chore: enable consistent versions
  common/changes/io-ts-extra/consistent-versions_pr_163.json
  common/changes/memorable-moniker/consistent-versions_pr_163.json
  packages/io-ts-extra/package.json
  packages/memorable-moniker/package.json
  rush.json
Labels: io-ts-extra, memorable-moniker

#166 chore: more detailed docs for memorable moniker
  .github/workflows/publish.yml
  common/changes/memorable-moniker/moniker-docs_pr_166.json
  packages/memorable-moniker/readme.md
  packages/memorable-moniker/src/index.ts
  scripts/badges.js
  scripts/permalink.js
  tools/builder/.eslintrc.js
  tools/builder/package.json
  tools/builder/src/index.ts
Labels: memorable-moniker

#176 fix: make PRs from forks work(?)
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/changes.yml
  .github/workflows/labeler.yml
Labels: bug

#175 Add support for `.tsx` and `.jsx` file extensions
  common/changes/eslint-plugin-codegen/patch-1_pr-175.json
  packages/eslint-plugin-codegen/src/index.ts
Labels: eslint-plugin-codegen
